.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.form {
  width: 300px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px white solid;

  > input {
    min-height: 50px;
  }

  > label input {
    width: 100%;
    min-height: 50px;
  }
}

.buttonSend {
  width: 100px;
  min-height: 30px;
  border: none;
  border-radius: 5px;

  font-weight: bold;

  color: white;
  background-color: cornflowerblue;

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.error {
  font-size: 15px;
  color: red;
}
