.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  > a {
    padding: 20px;
    margin: 0 10px;

    color: #fff;

    transition: color .4s ease-in-out;

    &:hover, &.active {
      color: aquamarine;
    }

  }

}
